# This file allows you to configure Airflow Connections, Pools, and Variables in a single place for local development only.
# NOTE: If putting a dict in conn_extra, please wrap in single quotes.

# For more information, refer to our docs: https://docs.astronomer.io/develop-project#configure-airflow_settingsyaml-local-development-only
# For questions, reach out to: https://support.astronomer.io
# For issues create an issue ticket here: https://github.com/astronomer/astro-cli/issues

airflow:
  connections:
    - conn_id: postgres_default
      conn_type: postgres
      conn_host: host.docker.internal   #CONNECT WITH PGADMIN LOCALLY
      conn_schema: postgres
      conn_login: postgres
      conn_password: 12345             #CONNECTION PASSWORD
      conn_port: 5432
      conn_extra:
  pools:
    - pool_name:
      pool_slot:
      pool_description:
  variables:
    - variable_name:
      variable_value: